---
const { slug } = Astro.props;
---

<div class="mt-8">
  <a href={`https://github.com/coderdiaz/basesdedatos.dev/blob/main/src/content/articles/${slug}/index.mdx`} target="_blank" class="flex md:flex-row flex-col md:items-center gap-1 md:gap-3 justify-between bg-gray-50 p-4 py-3 md:py-3.5 rounded-lg text-gray-600">
    ¿Haz encontrado una errata o quieres sugerir un cambio?
    <span class="font-medium text-black">
      Editar en GitHub
    </span>
  </a>
</div>
