---
import { getImage } from 'astro:assets';
import Container from '@/components/Container.astro';
import SeoMeta from '@/assets/images/meta.jpg';

const analytics = import.meta.env.ENABLED_ANALYTICS || false;

const image = await getImage({ src: SeoMeta, format: 'png'});
const seoImage = `https://basesdedatos.dev${image.src}`;
---
<html lang="es" class="min-h-full antialiased selection:bg-accent-300 selection:text-accent-900">
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Aprende bases de datos con PostgreSQL totalmente gratis</title>
    <meta name="keywords" content="sql, bases de datos, postgresql, cursos, cursos en español, cursos de bases de datos, curso de postgres, aprende postgres, postgres, curso sql desde cero, sql aprender, aprender sql" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Aprende bases de datos con PostgreSQL totalmente gratis" />
    <meta property="og:description" content="Descubre el poder de las bases de datos relacionales y aprende a trabajar con SQL para almacenar, filtrar, organizar y manipular información." />
    <meta property="og:image" content={seoImage} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://basesdedatos.dev/" />
    <meta property="twitter:creator" content="@coderdiaz" />
    <meta property="twitter:title" content="Aprende bases de datos con PostgreSQL totalmente gratis" />
    <meta property="twitter:description" content="Descubre el poder de las bases de datos relacionales y aprende a trabajar con SQL para almacenar, filtrar, organizar y manipular información." />
    <meta property="twitter:image" content={seoImage} />
    { analytics && (
      <script defer data-domain="basesdedatos.dev" src="https://analy.fun/js/script.js"></script>
    )}
	</head>
  <body class="font-sans leading-relaxed h-full flex flex-col text-[#39301B]">
    <section class="border-b border-gray-200">
      <Container>
        <a href="#donation" class="py-3 flex flex-col md:flex-row md:items-center md:justify-between text-sm font-medium">
          <p class="font-semibold">Si te ha gustado, no te olvides de apoyarlo con una donación o tu feedback</p>
          <p>Contribuir <span aria-hidden="true">→</span></p>
        </a>
      </Container>
    </section>
    <header>
      <Container>
        <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-2 md:gap-3 pt-8">
          <a href="/" class="flex items-center gap-2">
            <span class="font-semibold">Aprende bases de datos</span>
          </a>
          <nav class="flex items-center gap-4 gap-y-1 flex-wrap"></nav>
        </div>
      </Container>
    </header>
    <main class="h-full flex-grow">
      <slot />
    </main>
  </body>
</html>